<div class="file-upload-container">
  <img src="assets/ltcg.png" alt="ltcg image" class="ltcg-image" />
  <h2>Harvest LTCG</h2>
  <label for="fileInput">Choose .xls or .xlsx file</label>
  <input
    type="file"
    id="fileInput"
    (change)="onFileSelected($event)"
    accept=".xls,.xlsx"
  />
  <div *ngIf="data">
    <table>
      <thead>
        <tr>
          <th *ngFor="let header of headers">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data">
          <td *ngFor="let cell of row">{{ cell }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
